player-connection-mode=Listen
player-connection-guid=3665449312
player-connection-debug=0
player-connection-project-name=AltUnity Test 1BAD
player-connection-ip=192.168.100.15
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b25446f72aef476288ba55d731878557
